@import "variables";

body {
  margin: $default_margin;
}

html {
  font-family: 'Dm Sans', sans-serif;
}

h1, 
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

li {
  list-style: $current-decoration;
}