@import"variables";

.portofolio__header {
  background-color: $bg-header;
  color: $header-color;
  position: relative;
  padding-inline-end: $padding-inline-start;
  padding-inline-start: $padding-inline-start;
}

.portofolio__header_heading {
  font-size: $text-gray-font-size;
  line-height: $text-black-line-height;
  color: $text-gray-font-size;
  padding-block-start: $text-gray-font-size;
  padding-block-end: $text-gray-font-size;
  margin-block-start: $default_margin;
  text-transform: uppercase;
}

.portofolio_header_homepage {
  display: $none-decoration;
}

.portofolio__header_heading__menu_navigation__lists_heading__link {
  text-decoration: $none-decoration;
  color: $text-gray-font-size;
}

.portofolio__header__label {
  position: absolute;
  top: 33%;
  right: $default_margin;
  z-index: 1; 
}

.portofolio__header_heading__menu_navigation__lists_heading {
  padding-block-end: $text-gray-font-size;
}

.portofolio__header__menu_svg {
  position: absolute;
  right: 11%;
  top: 40%;
}

.portofolio__header__label__a11y {
  color: transparent;
  padding: $text-gray-font-size;
}

.portofolio__header_heading__menu_navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: $default_margin;
  right: $default_margin;
  bottom: $default_margin;
  width: 150px;
  height: 165px;
  box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
  transform: translateY(-127%);
  transition: transform 0.3s;
}

[type="checkbox"]:checked ~ .portofolio__header .portofolio__header_heading__menu_navigation {
  transform: translateX($default_margin);
  background-color:#434CCC;
}

[type="checkbox"]:checked ~ .portofolio__header .portofolio__header__label {
  position: absolute;
  z-index: 2;
  right: $default_margin;
  bottom: $default_margin;
  left: $default_margin;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.25);
}

body > [type="checkbox"]:checked ~ .portofolio__main {
  z-index: 1; 
}

@media(min-width: 1200px) {
  .portofolio__header {
    @include  reset-max-width;
  }

  .portofolio__header_heading {
    font-size: 40px;
    line-height: 48px;
    margin-block-end: $default_margin;
  }

  .portofolio__header_heading__menu_navigation__lists {
    display: flex;
    flex-direction: row;
  }

  .portofolio__header_heading__menu_navigation__lists_heading {
    padding-inline-end: $text-black-line-height;
  }

  .portofolio__header_heading__menu_navigation {
    background-color: transparent;
    width: $auto-margin;
    height: $auto-margin;
    box-shadow: none;
    transform: none;
    transition: none;
    padding-block-start: 7px;
    padding-inline-end: $body-padding-inline;
  }

  .portofolio__header .portofolio__header__label {
    display: $none-decoration;
  }

  .portofolio__header__menu_svg {
    display: $none-decoration;
  }
}
