.portofolio__main__photograph__header {
  display: flex;
  flex-direction: column-reverse;
  padding-block-end: 65px;
  padding-block-start: 61px;
}

.portofolio__main__photograph__header_heading {
  max-width: 457px;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
}

.portofolio__main__back {
  @include  reset-size-gray-normal-text;
  padding-block-end: 61px;
  margin-block-start: -14px;
  text-decoration-line: $current-decoration;
}

.portofolio__main__back::before {
  content: " ← ";
}

.portofolio__main__photograph__slider_description {
  @include reset-size-black-normal-text;
  max-width: 585px;
} 

.portofolio__main__photograph__slider_description:nth-of-type(2) {
  padding-block-end: 82px;
}

.portofolio__main__photograph__about__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline-start: -43px;
  padding-inline-end: 15px;
  padding-block-start: 92px;
  padding-block-end: 75px;
}

.portofolio__main__photograph__about__navigation__camera_list__date,
.portofolio__main__photograph__about__navigation__camera_list__location,
.portofolio__main__photograph__about__navigation__camera_list__camera,
.portofolio__main__photograph__about__navigation__camera_list__lens {
  @include reset-size-gray-normal-text;
}

.portofolio__main__photograph__about__navigation__camera_list__time,
.portofolio__main__photograph__about__navigation__camera_list__place,
.portofolio__main__photograph__about__navigation__camera_list__brand,
.portofolio__main__photograph__about__navigation__camera_list__size {
  @include reset-size-black-normal-text;
  font-weight: bold;
}

.portofolio__main__research_photo__morroco {
  padding-inline-end: 15px;
}

.portofolio__main__research_photo__header_heading {
  display: $current-decoration;
}

.portofolio__main__research_photo__morroco__header_heading {
  @include reset-h2-h3;
}

.portofolio__main__research_photo__morroco_features {
  @include reset-size-black-normal-text;
}

.portofolio__main__research_photo__morroco_experiences {
  @include reset-size-gray-normal-text;
  padding-block-end: 40px;
  padding-block-start: 40px;  
}

@media(min-width: 1200px) {
  .portofolio__main__photograph__about {
    max-width: 443px;
  }
  .portofolio__main__photograph__header_heading {
    font-size: 72px;
    line-height: 80px;
  }

  .portofolio__main__research_photo {
    display: flex;
    flex-direction: row;
  }

  .portofolio__main__research_photo__morroco__header_heading {
    @include reset-h2-h3-desktop;
    margin-block-start: 18px;
  }

  .portofolio__main__research_photo__morroco {
    padding-inline-start: 146px;
    max-width: 518px;
    padding-block-start: 87px;
}
}
