.portofolio__main__photograph__slider_active img {
  width: 100%;
  height: 230px;
  border-radius: 5px;
}

.portofolio__main__photograph__slider_active {
  padding-inline-end: 15px;
}

.portofolio__main__photograph__slider_images {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.portofolio__main__photograph__slider_images img {
  width: 40%;
  height: 50%;
  border-radius: 5px;
  margin-inline-end: 10px;
}

@media(min-width: 1200px) {
  .portofolio__main__photograph__slider_images {
    overflow-x: none;
  }

  .portofolio__main__photograph__slider_active img {
    height: 100%;
  }
  .portofolio__main__photograph__slider_images img {
  width: 11.5%;
  height: 50%;
  border-radius: 5px;
  }
}
